<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BRET-Contact</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/owl.carousel/static/owl.carousel.min.css') }}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

  <!-- =======================================================
  * Template Name: Sailor - v2.1.0
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo"><a href="/">BRET</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li><a href="/">Home</a></li>

          

          <li><a href="/Chemical-Disease">Chemical-Disease</a></li>
          <li><a href="/Drug-Drug">Drug-Drug</a></li>
          <li><a href="/Gene-Disease">Gene-Disease</a></li>
          
          <li class="active"><a href="/contact">Contact</a></li>

        </ul>

      </nav><!-- .nav-menu -->

      

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.683311801495!2d126.94394029483567!3d37.562524391687255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c988459902d69%3A0xf2536b3850f9d80d!2z7J207ZmU7Jes7J6Q64yA7ZWZ6rWQ!5e0!3m2!1sko!2skr!4v1599533926153!5m2!1sko!2skr"></iframe> </iframe>
        </div>

        <div class="row mt-5">

          <div class="col-xs-1">
            <div class="info">
              <div class="logo">
                <div class="lab-logo">
                  <a href="http://jchoi315.cafe24.com/">
                    <img src="static/img/team/AIBILAB_LOGO1.png"></img>
                  </a>
                </div>
                <div class="school-logo">
                  <a href="http://www.ewha.ac.kr/ewha/index.do">
                    <div class="school-imgs">
                      <img src="static/img/team/EWHA_LOGO2.png"></img>
                      <br>
                      <img src="static/img/team/EWHA_LOGO1.png"></img>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-1">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Collaborative Research Building<br>
                  52, Ewhayeodae-gil, Seodaemun-gu, Seoul<br>
                  Republic of Korea 03760</p>
              </div>
            </div>
          </div>

          <div class="col-xs-1">
            <div class="info">
              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>choij@ewha.ac.kr</p>
              </div>
            </div>
          </div>

          <div class="col-xs-1">
            <div class="info">
              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+82 2 3277 6945</p>
              </div>
            </div>
          </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Medical AI LAB @ EWHA</h3>
              <strong>Phone:</strong> +82 2 3277 6945<br>
              <strong>Email:</strong> choij@ewha.ac.kr<br>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-info-contact">
              <p>
                Collaborative Research Building<br>
                52, Ewhayeodae-gil, Seodaemun-gu, Seoul<br>
                Republic of Korea 03760<br><br>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <div class="footer-menu">
              <h4>Menu</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <div class="footer-menu">
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="/Chemical-Disease">Chemical-Disease</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/Drug-Drug">Drug-Drug</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="/Gene-Disease">Gene-Disease</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Sailor</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>