<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BRET-Drug_Drug</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {

        jQuery("#displayDiv").hide();
        jQuery("#btn").click(function() {

            if(jQuery("#displayDiv").css("display") == "none") {

                jQuery("#displayDiv").slideDown();
            }

            else {

                jQuery("#displayDiv").slideUp();
            }
        });
    });
  </script>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/icofont/icofont.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/animate.css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/owl.carousel/static/owl.carousel.min.css') }}">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

  <!-- =======================================================
  * Template Name: Sailor - v2.1.0
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo"><a href="/">BRET</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li><a href="/">Home</a></li>

          

          <li><a href="/Chemical-Disease">Chemical-Disease</a></li>
          <li class="active"><a href="/Drug-Drug">Drug-Drug</a></li>
          <li><a href="/Gene-Disease">Gene-Disease</a></li>
          
          <li><a href="/contact">Contact</a></li>

        </ul>

      </nav><!-- .nav-menu -->

      

    </div>
  </header><!-- End Header -->

  <main id="main">

   <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Drug-Drug Relation Extraction</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Gene-Disease</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->

    <!-- ====== File upload ===== -->
    <section id="fileupload" class="fileupload">
      <div class="container">
        <h5>Please upload the .txt file with the following format.</h5>
        <h6>EX) Concomitant <span style="background-color:yellow"> @DRUG$ </span> administration decreased the mean AUC of total <span style="background-color:yellow"> @DRUG$ </span>approximately 55%.</h6>
        <div> &nbsp; </div>
        <div class="d-flex justify-content-between align-items-center">
          <form action="http://localhost:5000/Drug-Drug" method="post" enctype="multipart/form-data">
            Select file to upload:
            <input type="file" name="fileToUpload" id="fileToUpload" >
            <input type="submit" value="Upload file" name="submit" class="btn btn-danger" >

          </form>
      </div>
        <div> &nbsp; </div>
        <a href = "static/result/DrugDrug_result.txt" download = "Drug_Drug Relation Extraction Result.txt"><button type=button class="btn btn-danger">Download</button></a>
        
        <button type="button" id="btn" class="btn btn-danger">About labels</button>
        <div id="displayDiv">
          <img src="static/img/slide/ddi_label.png">
        </div>
        <p>
          <textarea cols="120" rows="10" readonly="readonly">&nbsp;{{model_result}}&nbsp;</textarea>


        </p>
        </div>
    </section>
    <!-- End File upload -->
    <section id="faq" class="faq">
      <div class="container">



      </div>
    </section><!-- End Frequently Asked Questions Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Medical AI LAB @ EWHA</h3>
              <strong>Phone:</strong> +82 2 3277 6945<br>
              <strong>Email:</strong> choij@ewha.ac.kr<br>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="footer-info-contact">
              <p>
                Collaborative Research Building<br>
                52, Ewhayeodae-gil, Seodaemun-gu, Seoul<br>
                Republic of Korea 03760<br><br>
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <div class="footer-menu">
              <h4>Menu</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <div class="footer-menu">
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="Chemical_Disease.html">Chemical-Disease</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="Drug_Drug.html">Drug-Drug</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="Gene_Disease.html">Gene-Disease</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Sailor</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>